h1{
    border-style: groove;
    border-radius: 15px;
}
h2{
    border-style: ridge;
    border-width: 9px;
}
h3{
    border-style: outset;
}
h4{
    border-style: dashed;
}
h5{
    border-style: double;
}
h6{
    border-style:inset;
}