p{
    font-size: 14px;
    text-align: justify;
    padding: 2px;
}
p.cuerpo{
    color: dimgray;
    text-align: left;
    font-style: normal;
}
p.copete{
    color: cadetblue;
    font-style: italic;
}

p.elabora{
    border: dotted;
    background: #993300;
    font-style: italic;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.alerta {
    text-indent: 40px;
    color: white;
    background-color: red;
    border: double;
    border-color: firebrick;
    padding: 8px;
}